* {
  margin: 0px;
  padding: 0;
  scrollbar-width: none;

}

header .background {
position: relative;
justify-items: center;
width:100%; /* Altura del header */
height: 910px;
}
/*<---------------------- INICIO ----------------->*/
body{
background-color: black;
display: grid;
grid-template-rows: auto auto auto auto auto;
overflow-y: scroll;

}

.container {
scroll-snap-type: y mandatory;
overflow-y: scroll;
height: 100vh;
}

section{
opacity: 0;
transform: translateY(100px); /* más movimiento para que se note */
transition: opacity 1s ease-out, transform 1s ease-out;
will-change: opacity, transform;
scroll-snap-align: start;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background-image: radial-gradient(
  circle at center, /* Forma del gradiente: círculo, posición: centro */
  rgba(50, 50, 50, 0.4) 0%, /* Color del centro (gris oscuro, semi-transparente) */
  rgba(0, 0, 0, 0) 70%    /* Color exterior (completamente transparente) */
);
}

section.visible {
opacity: 1;
transform: translateY(0);
}
/*---------------------FAST LAPS-----------------*/
.five{
display: flex;
flex-direction: column;
}
.five h1 {
text-align: left;
}
.five .vueltas{
margin: 6%;
}
svg {
width: 100%;
height: 100%;
transform: rotate(-90deg);
overflow: visible; /* ✅ Asegura que todo se vea */
}
circle {
fill: none;
stroke-width: 20;
transition: stroke-dashoffset 1s linear;
}
.counter {
position: absolute;
top: 54%;
left: 50%;
transform: translate(-50%, -50%);
font-family: 'Noto Sans', sans-serif; /* Fuente para el contador */
font-size: 28px;
font-weight: bold;
color: #FF9800;
z-index: 10; /* ✅ Queda sobre los círculos */
pointer-events: none;
}

/*<----------- TIPOGRÁFIAS -------------------->*/
h1 {
  font-family:'Audiowide', sans-serif;
  color: white;
  font-size: clamp(2rem, 4vw, 3rem); 
}
h2{
  font-family: 'Noto Sans', sans-serif;
  font-style: italic;
  color: white;
  font-weight: 400;
  font-size: clamp(2rem, 5vw, 3rem); /* ajusta entre 32px y 48px según el ancho */
}